@import "./reset.css";

.footer__container {
  width: 100%;
  height: 60px;
  background-color: #dedede;
}

.footer__content-box--div {
  width: 59.57%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icon-box--div {
  width: 48.25%;
  height: 100%;
  border: 1px solid #000;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.none {
  display: none;
}
