<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale = 5.0, user-scalable=yes, viewport-fit=cover"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/reset.css" />

    <title>밥묵자!</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="main__container">
        <div class="category-container">
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-1.png"
                alt=""
              />
            </div>
            <p>피자</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-2.png"
                alt=""
              />
            </div>
            <p>돈까스·일식</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-3.png"
                alt=""
              />
            </div>
            <p>한식</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-4.png"
                alt=""
              />
            </div>
            <p>양식</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-5.png"
                alt=""
              />
            </div>
            <p>중식</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-6.png"
                alt=""
              />
            </div>
            <p>치킨</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-7.png"
                alt=""
              />
            </div>
            <p>아시안</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-8.png"
                alt=""
              />
            </div>
            <p>햄버거</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-9.png"
                alt=""
              />
            </div>
            <p>분식</p>
          </div>
          <div class="category__item-box">
            <div class="category__img-box">
              <img
                class="category__img"
                src="../../static/images/rest-list/category-10.png"
                alt=""
              />
            </div>
            <p>카페</p>
          </div>
        </div>
        <div class="rest__container">
          <div class="rest__item">
            <div class="rest__img-box">
              <div class="rest__img-1"></div>
              <div class="rest__img-2"></div>
              <div class="rest__img-3"></div>
            </div>
            <div class="rest__text-box--div">
              <p class="rest__title--p">여기가 맛집이에영</p>
              <p class="rest__price-text--p">평균금액</p>
              <p class="rest__price-number--p">&nbsp;8,000원&nbsp;·&nbsp;</p>
              <p class="rest__distance--p">0.8Km</p>
            </div>
          </div>
        </div>
        <div class="rest__container">
          <div class="rest__item">
            <div class="rest__img-box">
              <div class="rest__img-1"></div>
              <div class="rest__img-2"></div>
              <div class="rest__img-3"></div>
            </div>
            <div class="rest__text-box--div">
              <p class="rest__title--p">여기가 맛집이에영</p>
              <p class="rest__price-text--p">평균금액</p>
              <p class="rest__price-number--p">&nbsp;8,000원&nbsp;·&nbsp;</p>
              <p class="rest__distance--p">0.8Km</p>
            </div>
          </div>
        </div>
        <div class="rest__container">
          <div class="rest__item">
            <div class="rest__img-box">
              <div class="rest__img-1"></div>
              <div class="rest__img-2"></div>
              <div class="rest__img-3"></div>
            </div>
            <div class="rest__text-box--div">
              <p class="rest__title--p">여기가 맛집이에영</p>
              <p class="rest__price-text--p">평균금액</p>
              <p class="rest__price-number--p">&nbsp;8,000원&nbsp;·&nbsp;</p>
              <p class="rest__distance--p">0.8Km</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__container">
        <div class="footer__content-box--div">
          <a class="footerBtn1" href="../main/index.html">
            <div class="footer__icon-box--div">
              <img
                class="footer__home-icon--img"
                src="../../static/images/rest-list/home.png"
                alt="home"
              />
              <img
                class="footer__selector--png-1"
                src="../../static/images/rest-list/select-bar.png"
                alt="select"
              />
            </div>
          </a>
          <a class="footerBtn2" href="../chat-list/chat-list.html">
            <div class="footer__icon-box--div">
              <img
                class="footer__chatting-icon--png"
                src="../../static/images/rest-list/chatting.png"
                alt="home"
              />
              <img
                class="footer__selector--png-2 none"
                src="../../static/images/rest-list/select-bar.png"
                alt="select"
              />
            </div>
          </a>
          <a class="footerBtn3" href="../coupon/coupon.html">
            <div class="footer__icon-box--div">
              <img
                class="footer__coupon-icon--png"
                src="../../static/images/rest-list/coupon.png"
                alt="home"
              />
              <img
                class="footer__selector--png-3 none"
                src="../../static/images/rest-list/select-bar.png"
                alt="select"
              />
            </div>
          </a>
        </div>
      </div>
    </footer>

    <!--  모든 내용은 script 위로 작성해주세요! -->
    <script src="../../static/javascript/rest-list.js"></script>
  </body>
</html>
